/HW1-data-sources/logs/
logs/
.DS_Store
__pycache__/

Webinar-11/*.pdf
Webinar-11/*.html

# Terraform generated
Webinar-11/.terraform/
Webinar-11/.tofu.d/
Webinar-11/.terraformrc
Webinar-11/terraform.tfvars
Webinar-11/terraform.tfstate*
Webinar-11/*.backup
Webinar-11/*.bak

Webinar-13-14/*.pdf
Webinar-13-14/*.html

# Terraform generated
Webinar-13-14/.terraform/
Webinar-13-14/.tofu.d/
Webinar-13-14/.terraformrc
Webinar-13-14/terraform.tfvars
Webinar-13-14/terraform.tfstate*
Webinar-13-14/*.backup
Webinar-13-14/*.bak

Webinar-15/*.pdf
Webinar-15/*.html
Webinar-15/*.webarchive

# Terraform generated
Webinar-13-14/.terraform/
Webinar-13-14/.tofu.d/
Webinar-13-14/.terraformrc
Webinar-13-14/terraform.tfvars
Webinar-13-14/terraform.tfstate*
Webinar-13-14/*.backup
Webinar-13-14/*.bak
