/HW1-data-sources/logs/
logs/
.DS_Store
__pycache__/

Webinar-11/Вебинар 11 и 12_ДЗ практическое.pdf
Webinar-11/Поставка данных из Yandex Managed Service for Apache Kafka® в Yandex StoreDoc с помощью Yandex Data .html

# Terraform generated
Webinar-11/.terraform/
Webinar-11/.tofu.d/
Webinar-11/.terraformrc
Webinar-11/terraform.tfvars
Webinar-11/terraform.tfstate*
Webinar-11/*.backup
Webinar-11/*.bak
